<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DZ_Scale_Circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310899151C17C2860093DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3108992E1C17C2860093DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310899391C17C2860093DEE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
